@use "colors";
@use "elevation";

.greet-banner {
    height: 14rem;
    padding-left: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: left;

    background-color: colors.$secondary-container;
    // background: url('../../../../background.jpg') center/cover no-repeat;
    color: colors.$on-secondary-container;

    &.night {
        background-color: colors.$primary; // Replace with your desired night background color
        color: colors.$on-secondary; // Replace with your desired night text color
    }

    @include elevation.elevation-3
}