@use 'colors';
@use 'shape';


.hero__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: shape.$extra-large;

  width: 80%;
  height: 76vh;
  margin: 0 auto;


  background-color: colors.$primary-container;
  color: colors.$on-primary-container;

  @include shape.extra-large;
}

.hero__container {
  display: flex;
  gap: shape.$large;
  min-width: 320px;
  width: 30%;
  margin: 0 72px;
  padding: 0;
}

.hero__container--copy {
  flex-direction: column;
}

.hero__container--buttons {
  justify-content: flex-end;
  margin-bottom: 72px;
}