

.ribbon-container {
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 2%;
}

.dropdowns > * {
    padding-right: 12px;
}