@use 'colors';
@use 'elevation';
@use 'shape';

.settings__pane {
  @include elevation.elevation-1;
  @include shape.extra-large;
  grid-area: pane;
  display: flex;
  flex-direction: column;
  gap: 48px;

  min-width: calc(100% - 56px);
  width: fit-content;
  min-height: 80%;
  padding: shape.$extra-large;

  background-color: colors.$surface-container;
}