@use 'colors';
@use 'shape';

.comments__list-item {
  display: flex;
  flex-direction: row;
  gap: 16px;

  padding: 12px 16px;
}

.comments__support {
  color: colors.$on-surface-variant;
}

.meta__container {
  margin-top: shape.$small;
  color: colors.$on-surface-variant;
}