@use 'colors';
@use 'shape';

.comments__head {
  display: flex;
  flex-direction: row;
  gap: 16px;

  padding: 12px 16px;
  margin: 16px 16px 0 16px;
}

.comments__meta {
  margin-top: shape.$small;
  color: colors.$on-surface-variant;
}