// TODO: change surface and onerror

// Primary Colors
$primary: #0081A7;
$primary-light: #66B3CA;
$primary-dark: #004D64;
$on-primary: #F2FBFB;
$primary-container: #CCE6ED;
$on-primary-container: #001A21;

// Secondary Colors
$secondary: #00AFB9;
$secondary-light: #66CFD5;
$secondary-dark: #00696F;
$on-secondary: #F2FBFB;
$secondary-container: #CCEFF1;
$on-secondary-container: #002325;

// Tertiary Colors
$tertiary: #FED9B7;
$tertiary-light: #FEE8D4;
$tertiary-dark: #98826E;
$on-tertiary: #332B25;
$tertiary-container: #FFF0E2;
$on-tertiary-container: #665749;

// Error Colors
$error: #F07167;
$error-light: #F6AAA4;
$error-dark: #90443E;
$on-error: #FEF8F7;
$error-container: #FCE3E1;
$on-error-container: #301715;

// Surface Colors
$neutral50: #7E7B4E;
$surface: #FAFAF8;
$surface-bright: #FAFAF8;
$surface-dim: #DDDDD1;
$surface-container-lowest: #FFFFFF;
$surface-container-low: #F5F4F1;
$surface-container: #F0EFEA;
$surface-container-high: #EAEAE3;
$surface-container-highest: #E5E5DC;
$on-surface: #191910;
$outline: #707686;
$shadow: #000000;