// Primary Colors
$primary: #0081A7;
$primary-light: #66B3CA;
$primary-dark: #004D64;
$on-primary: #F2FBFB;
$primary-container: #CCE6ED;
$on-primary-container: #001A21;

// Secondary Colors
$secondary: #00AFB9;
$secondary-light: #66CFD5;
$secondary-dark: #00696F;
$on-secondary: #F2FBFB;
$secondary-container: #CCEFF1;
$on-secondary-container: #002325;

// Tertiary Colors
$tertiary: #FED9B7;
$tertiary-light: #FEE8D4;
$tertiary-dark: #98826E;
$on-tertiary: #332B25;
$tertiary-container: #FFF0E2;
$on-tertiary-container: #665749;

// Error Colors
$error: #F07167;
$error-light: #F6AAA4;
$error-dark: #90443E;
$on-error: #FEF8F7;
$error-container: #FCE3E1;
$on-error-container: #301715;

// Surface Colors
$surface: #FDF9F0;
$on-surface: #1D1C16;
$surface-variant: #E1E2EC;
$on-surface-variant: #44474F;

$surface-container-lowest: #FFFFFF;
$surface-container-low: #F8F3EA;
$surface-container: #F2EDE4;
$surface-container-high: #ECE8DF;
$surface-container-highest: #E6E2D9;

$outline: #707686;
$outline-variant: #44474F;

$inverse: #1D1C16;
$inverse-on-surface: #E6E2D9;
$inverse-primary: #006685;

// Surface Add-Ons
$shadow: #000000;
$scrim: #000000;