@use 'colors';
@use 'elevation';
@use 'shape';

.menu__container {
  @include elevation.elevation-2;
  @include shape.extra-small;
  min-width: 112px;
  max-width: 280px;

  background-color: colors.$surface-container;
}

.menu__list {
  padding: shape.$small 0;
}